//for hpe theme, use the following import instead
//@import '~grommet/scss/hpe/index';

$paragraph-large-font-size: 36px;

@import '~grommet/scss/vanilla/index';

h1.heading--huge {
  font-size: 70px;
}

img.gravatar {
  border-radius: 50%;
}

.bullets {
  @include inuit-font-size(36px);
  text-align: left;

  &--small {
    @include inuit-font-size(24px, 36px);
  }
}

.slides {
  position: relative;
  transition: 10s ease-in-out;

  > .slides__control {
    position: fixed;
    z-index: 10;

    &-left {
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    &-right {
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }

  &__slideIn {
    &-enter {
      transform: translateX(100%);

      &-active {
        animation: slide-in 0.3s forwards;
      }
    }
  }
}

@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}
