//for hpe theme, use the following import instead
//@import '~grommet/scss/hpe/index';

@import '~grommet-presentation/scss/index';

iframe.sample-container {
  height: calc(100vh - #{$header-height * 2.7});
  width: 100%;
  border: none;
}
